@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  color: #000; }

#fullpage .section {
  height: 100vh;
  width: 100%;
  text-align: center; }

.section.page-1 {
  background-image: url(../img/page-1.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .section.page-1 .logo {
    position: absolute;
    top: 30px;
    left: 30px; }
  .section.page-1 h1 {
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    font-size: 60px;
    color: #fff;
    margin: 0 0 20px; }
  .section.page-1 p {
    font-family: "Yantramanav", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #fff;
    max-width: 560px;
    margin: 0 auto;
    text-shadow: 5px 0px 10px black; }

.block {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10%;
  float: left; }

.section h2 {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #000;
  margin: 0 0 35px; }
.section blockquote {
  font-family: "Yantramanav", sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: #000;
  position: relative;
  line-height: 1.5;
  margin: 15% 16%;
  max-width: 100%; }
  .section blockquote::before {
    content: '“';
    font-family: "Yantramanav", sans-serif;
    font-weight: 300;
    font-size: 72px;
    color: #dcdcdc;
    position: absolute;
    top: -55px;
    left: -30px;
    height: 0; }
  .section blockquote::after {
    content: '”';
    font-family: "Yantramanav", sans-serif;
    font-weight: 300;
    font-size: 72px;
    color: #dcdcdc;
    position: absolute;
    bottom: 30px;
    right: 0;
    height: 0; }
.section .signature {
  font-family: "Yantramanav", sans-serif;
  font-weight: 100;
  font-size: 18px;
  color: #000;
  margin-top: 35px; }
.section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 50px auto 0;
  min-width: 480px;
  width: 37%; }
  .section form input[type='email'] {
    width: 65%;
    height: 48px;
    background-color: #fff;
    color: #000;
    font-family: "Yantramanav", sans-serif;
    border-radius: 24px 0 0 24px;
    border: none;
    outline: none;
    padding: 0 30px; }
    .section form input[type='email']::-webkit-input-placeholder {
      color: #8c8c8c;
      font-size: 18px;
      font-family: "Yantramanav", sans-serif;
      font-weight: 300; }
    .section form input[type='email']::-moz-placeholder {
      color: #8c8c8c;
      font-size: 18px;
      font-family: "Yantramanav", sans-serif;
      font-weight: 300; }
    .section form input[type='email']:-ms-input-placeholder {
      color: #8c8c8c;
      font-size: 18px;
      font-family: "Yantramanav", sans-serif;
      font-weight: 300; }
    .section form input[type='email']:-moz-placeholder {
      color: #8c8c8c;
      font-size: 18px;
      font-family: "Yantramanav", sans-serif;
      font-weight: 300; }
  .section form input[type='submit'] {
    color: #fff;
    background-color: #20ab50;
    height: 48px;
    width: 35%;
    border-radius: 0 24px 24px 0;
    border: none;
    outline: none;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-transform: capitalize;
    cursor: pointer; }

.section.page-2 p {
  font-family: "Yantramanav", sans-serif;
  font-weight: 100;
  font-size: 16px;
  color: #000;
  margin-bottom: 30px;
  text-align: left;
  line-height: 1.5;
  max-width: 100%; }
  .section.page-2 p:last-of-type {
    margin-bottom: 0; }
.section.page-2 .block.image {
  background-image: url(../img/page-2.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.section.page-3 .block.image {
  background-image: url(../img/page-3.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.section.page-4 .block.image {
  background-image: url(../img/page-4.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.subtitle {
  font-size: 18px;
  color: #000;
  font-family: "Yantramanav", sans-serif;
  font-weight: 100; }

.section.page-5 h2 {
  text-transform: capitalize;
  margin-bottom: 15px; }
.section.page-5 .subtitle {
  margin-bottom: 30px; }
.section.page-5 .slick-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .section.page-5 .slick-slider .slick-track .slides {
    outline: none; }
.section.page-5 .slick-slider img {
  margin: 0 auto; }
.section.page-5 .slick-slider button.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #ccc;
  z-index: 20;
  outline: none;
  overflow: hidden;
  cursor: pointer; }
  .section.page-5 .slick-slider button.slick-arrow.slick-prev {
    left: 15%; }
    .section.page-5 .slick-slider button.slick-arrow.slick-prev::before {
      content: '\f053';
      width: 32px; }
  .section.page-5 .slick-slider button.slick-arrow.slick-next {
    right: 15%; }
    .section.page-5 .slick-slider button.slick-arrow.slick-next::before {
      content: '\f054';
      width: 38px; }
  .section.page-5 .slick-slider button.slick-arrow::before {
    display: block;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 18px;
    color: #ccc;
    font-family: fontawesome;
    cursor: pointer; }
.section.page-5 span {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #000;
  text-transform: uppercase; }
.section.page-5 .slides-number,
.section.page-5 .slides-number span {
  font-family: "Yantramanav", sans-serif;
  margin-top: 30px;
  font-weight: 100;
  font-size: 18px;
  color: #000; }

.section.page-6 {
  background-color: #e5e5e5;
  background-image: url(../img/page-6.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center; }
  .section.page-6 h2 {
    text-transform: capitalize;
    margin-bottom: 10px; }
  .section.page-6 .quality {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 18%;
    min-width: 230px;
    margin: 0 5%;
    text-align: left; }
    .section.page-6 .quality.left {
      float: left; }
      .section.page-6 .quality.left li:first-child::before {
        top: 50%;
        right: -80px;
        width: 80px;
        height: 127px;
        border: 1px solid;
        border-color: #fff #fff transparent transparent; }
      .section.page-6 .quality.left li:first-child h3::before {
        top: 150px;
        right: -103px; }
      .section.page-6 .quality.left li:first-child h3::after {
        top: 154px;
        right: -99px; }
      .section.page-6 .quality.left li:nth-child(2)::before {
        top: 88%;
        right: -100px;
        width: 100px;
        height: 1px;
        border: 1px solid;
        border-color: #fff transparent transparent transparent; }
      .section.page-6 .quality.left li:nth-child(2) h3::before {
        top: 104px;
        right: -127px; }
      .section.page-6 .quality.left li:nth-child(2) h3::after {
        top: 108px;
        right: -123px; }
      .section.page-6 .quality.left li:nth-child(3)::before {
        top: 44%;
        right: -100px;
        width: 100px;
        height: 1px;
        border: 1px solid;
        border-color: #fff transparent transparent transparent; }
      .section.page-6 .quality.left li:nth-child(3) h3::before {
        top: 58px;
        right: -130px; }
      .section.page-6 .quality.left li:nth-child(3) h3::after {
        top: 62px;
        right: -126px; }
      .section.page-6 .quality.left li:nth-child(4)::before {
        top: 42%;
        right: -230px;
        width: 230px;
        height: 50px;
        border: 1px solid;
        border-color: transparent #fff #fff transparent; }
      .section.page-6 .quality.left li:nth-child(4) h3::before {
        top: 24px;
        right: -253px; }
      .section.page-6 .quality.left li:nth-child(4) h3::after {
        top: 28px;
        right: -249px; }
    .section.page-6 .quality.right {
      float: right; }
      .section.page-6 .quality.right li:first-child::before {
        top: 50%;
        left: -320px;
        width: 320px;
        height: 150px;
        border: 1px solid;
        border-color: #fff transparent transparent #fff; }
      .section.page-6 .quality.right li:first-child h3::before {
        top: 161px;
        left: -342px; }
      .section.page-6 .quality.right li:first-child h3::after {
        top: 165px;
        left: -338px; }
      .section.page-6 .quality.right li:nth-child(2)::before {
        top: 50%;
        left: -270px;
        width: 270px;
        height: 150px;
        border: 1px solid;
        border-color: #fff transparent transparent #fff; }
      .section.page-6 .quality.right li:nth-child(2) h3::before {
        top: 180px;
        left: -293px; }
      .section.page-6 .quality.right li:nth-child(2) h3::after {
        top: 184px;
        left: -289px; }
      .section.page-6 .quality.right li:nth-child(3)::before {
        top: 50%;
        left: -90px;
        width: 90px;
        height: 50px;
        border: 1px solid;
        border-color: #fff transparent transparent #fff; }
      .section.page-6 .quality.right li:nth-child(3) h3::before {
        top: 81px;
        left: -113px; }
      .section.page-6 .quality.right li:nth-child(3) h3::after {
        top: 85px;
        left: -109px; }
      .section.page-6 .quality.right li:nth-child(4)::before {
        top: 50%;
        left: -175px;
        width: 175px;
        height: 1px;
        border: 1px solid;
        border-color: #fff transparent transparent transparent; }
      .section.page-6 .quality.right li:nth-child(4) h3::before {
        top: 38px;
        left: -203px; }
      .section.page-6 .quality.right li:nth-child(4) h3::after {
        top: 42px;
        left: -199px; }
      .section.page-6 .quality.right li:nth-child(5)::before {
        top: 66%;
        left: -380px;
        width: 380px;
        height: 45px;
        border: 1px solid;
        border-color: #fff transparent transparent #fff; }
      .section.page-6 .quality.right li:nth-child(5) h3::before {
        top: 80px;
        left: -402px; }
      .section.page-6 .quality.right li:nth-child(5) h3::after {
        top: 84px;
        left: -398px; }
    .section.page-6 .quality ul {
      list-style-type: none; }
      .section.page-6 .quality ul li {
        background-color: #fff;
        padding: 15px 12px 5px 12px;
        border-radius: 10px;
        margin-bottom: 10px;
        font-family: "Yantramanav", sans-serif;
        color: #000;
        position: relative; }
        .section.page-6 .quality ul li h3 {
          font-weight: 400;
          font-size: 16px;
          position: relative; }
          .section.page-6 .quality ul li h3::before {
            position: absolute;
            content: '';
            height: 23px;
            width: 23px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.3); }
          .section.page-6 .quality ul li h3::after {
            position: absolute;
            content: '';
            height: 15px;
            width: 15px;
            border-radius: 50%;
            background-color: #fff; }
        .section.page-6 .quality ul li p {
          font-size: 15px;
          font-weight: 100;
          line-height: 22px; }
        .section.page-6 .quality ul li::before {
          position: absolute;
          content: ''; }

.section.page-7 h2 {
  margin: 0 0 15px; }
.section.page-7 .subtitle {
  margin-bottom: 25px; }
.section.page-7 .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 8%; }
  .section.page-7 .contacts .contact {
    width: 20%;
    margin: 25px 0;
    text-align: left; }
    .section.page-7 .contacts .contact h3 {
      font-size: 16px;
      font-weight: 400;
      font-family: "Yantramanav", sans-serif;
      line-height: 1.5; }
    .section.page-7 .contacts .contact p {
      font-size: 15px;
      font-weight: 100;
      font-family: "Yantramanav", sans-serif;
      line-height: 1.5; }
    .section.page-7 .contacts .contact p.site {
      color: #1faa50; }

.section.page-8 .contacts {
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .section.page-8 .contacts h2 {
    font-size: 24px;
    margin-bottom: 15px; }
  .section.page-8 .contacts .subtitle {
    margin-bottom: 40px; }
  .section.page-8 .contacts div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40%;
    margin: 0 auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Yantramanav", sans-serif;
    font-weight: 100;
    font-size: 18px; }
    .section.page-8 .contacts div .email {
      color: #20ab50; }
.section.page-8 .signUp {
  height: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f3f3f3; }
  .section.page-8 .signUp h2 {
    margin-bottom: 10px; }
  .section.page-8 .signUp .subtitle {
    font-size: 22px;
    font-weight: 300; }
.section.page-8 footer {
  position: absolute;
  background-color: #dcdcdc;
  width: 100%;
  height: 40px;
  text-align: left;
  color: #fff;
  line-height: 40px;
  bottom: 0;
  left: 0;
  font-size: 14px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  padding: 0 40px; }
