$fontFamilyNunito: 'Nunito', sans-serif;
$fontFamilyYantra: 'Yantramanav', sans-serif;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    color: #000;
}
#fullpage .section{
    height: 100vh;
    width: 100%;
    text-align: center;
}
.section.page-1{
    background-image: url(../img/page-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    h1{
        font-family: $fontFamilyNunito;
        font-weight: 300;
        font-size: 60px;
        color: #fff;
        margin: 0 0 20px;
    }
    p{
        font-family: $fontFamilyYantra;
        font-weight: 300;
        font-size: 20px;
        color: #fff;
        max-width: 560px;
        margin: 0 auto;
        text-shadow: 5px 0px 10px rgba(0, 0, 0, 1);
    }
}
.block{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
    float: left;
}
.section{
    h2{
        font-family: $fontFamilyNunito;
        font-weight: 300;
        font-size: 30px;
        color: #000;
        margin: 0 0 35px;
    }
    blockquote{
        font-family: $fontFamilyYantra;
        font-weight: 100;
        font-size: 20px;
        color: #000;
        position: relative;
        line-height: 1.5;
        margin: 15% 16%;
        max-width: 100%;
        &::before{
            content: '“';
            font-family: $fontFamilyYantra;
            font-weight: 300;
            font-size: 72px;
            color: #dcdcdc;
            position: absolute;
            top: -55px;
            left: -30px;
            height: 0;
        }
        &::after{
            content: '”';
            font-family: $fontFamilyYantra;
            font-weight: 300;
            font-size: 72px;
            color: #dcdcdc;
            position: absolute;
            bottom: 30px;
            right: 0;
            height: 0;
        }
    }
    .signature{
        font-family: $fontFamilyYantra;
        font-weight: 100;
        font-size: 18px;
        color: #000;
        margin-top: 35px;
    }
    form{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 50px auto 0;
        min-width: 480px;
        width: 37%;
        input[type='email']{
            width: 65%;
            height: 48px;
            background-color: #fff;
            color: #000;
            font-family: $fontFamilyYantra;
            border-radius: 24px 0 0 24px;
            border: none;
            outline: none;
            padding: 0 30px;
            &::-webkit-input-placeholder {
                color: #8c8c8c;
                font-size: 18px;
                font-family: $fontFamilyYantra;
                font-weight: 300;
            }
            &::-moz-placeholder {
                color: #8c8c8c;
                font-size: 18px;
                font-family: $fontFamilyYantra;
                font-weight: 300;
            }
            &:-ms-input-placeholder {
                color: #8c8c8c;
                font-size: 18px;
                font-family: $fontFamilyYantra;
                font-weight: 300;
            }
            &:-moz-placeholder {
                color: #8c8c8c;
                font-size: 18px;
                font-family: $fontFamilyYantra;
                font-weight: 300;
            }
        }
        input[type='submit']{
            color: #fff;
            background-color: #20ab50;
            height: 48px;
            width: 35%;
            border-radius: 0 24px 24px 0;
            border: none;
            outline: none;
            font-family: $fontFamilyNunito;
            font-weight: 400;
            font-size: 20px;
            text-transform: capitalize;
            cursor: pointer;
        }
    }
}
.section.page-2{
    p{
        font-family: $fontFamilyYantra;
        font-weight: 100;
        font-size: 16px;
        color: #000;
        margin-bottom: 30px;
        text-align: left;
        line-height: 1.5;
        max-width: 100%;
        &:last-of-type{
            margin-bottom: 0;
        }
    }
    .block.image{
        background-image: url(../img/page-2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.section.page-3{
    .block.image{
        background-image: url(../img/page-3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.section.page-4{
    .block.image{
        background-image: url(../img/page-4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.subtitle{
    font-size: 18px;
    color: #000;
    font-family: $fontFamilyYantra;
    font-weight: 100;
}
.section.page-5{
    h2{
        text-transform: capitalize;
        margin-bottom: 15px;
    }
    .subtitle{
        margin-bottom: 30px;
    }
    .slick-slider {
        .slick-track{
            display: flex;
            align-items: center;
            .slides{
                outline: none;
            }
        }
        img{
            margin: 0 auto;
        }
        button.slick-arrow{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: 38px;
            width: 38px;
            border-radius: 50%;
            background-color: transparent;
            border: 2px solid #ccc;
            z-index: 20;
            outline: none;
            overflow: hidden;
            cursor: pointer;
            &.slick-prev{
                left: 15%;
                &::before{
                    content:'\f053';
                    width: 32px;
                }
            }
            &.slick-next{
                right: 15%;
                &::before{
                    content:'\f054';
                    width: 38px;
                }
            }
            &::before{
                display: block;
                height: 38px;
                line-height: 38px;
                text-align: center;
                font-size: 18px;
                color: #ccc;
                font-family: fontawesome;
                cursor: pointer;
            }
        }
    }
    span{
        font-family: $fontFamilyNunito;
        font-weight: 300;
        font-size: 24px;
        color: #000;
        text-transform: uppercase;
    }
    .slides-number,
    .slides-number span{
        font-family: $fontFamilyYantra;
        margin-top: 30px;
        font-weight: 100;
        font-size: 18px;
        color: #000;
    }
}
.section.page-6{
    background-color: #e5e5e5;
    background-image: url(../img/page-6.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;

    h2{
        text-transform: capitalize;
        margin-bottom: 10px;
    }

    .quality{
        display: inline-flex;
        flex-direction: column;
        width: 18%;
        min-width: 230px;
        margin: 0 5%;
        text-align: left;
        &.left{
            float: left;
            li{
                &:first-child{
                    &::before{
                        top: 50%;
                        right: -80px;
                        width: 80px;
                        height: 127px;
                        border: 1px solid;
                        border-color: #fff #fff transparent transparent;
                    }
                    h3::before{
                        top: 150px;
                        right: -103px;
                    }
                    h3::after{
                        top: 154px;
                        right: -99px;
                    }
                }
                &:nth-child(2){
                    &::before{
                        top: 88%;
                        right: -100px;
                        width: 100px;
                        height: 1px;
                        border: 1px solid;
                        border-color: #fff transparent transparent transparent;
                    }
                    h3::before{
                        top: 104px;
                        right: -127px;
                    }
                    h3::after{
                        top: 108px;
                        right: -123px;
                    }
                }
                &:nth-child(3){
                    &::before{
                        top: 44%;
                        right: -100px;
                        width: 100px;
                        height: 1px;
                        border: 1px solid;
                        border-color: #fff transparent transparent transparent;
                    }
                    h3::before{
                        top: 58px;
                        right: -130px;
                    }
                    h3::after{
                        top: 62px;
                        right: -126px;
                    }
                }
                &:nth-child(4){
                    &::before{
                        top: 42%;
                        right: -230px;
                        width: 230px;
                        height: 50px;
                        border: 1px solid;
                        border-color: transparent #fff #fff transparent;
                    }
                    h3::before{
                        top: 24px;
                        right: -253px;
                    }
                    h3::after{
                        top: 28px;
                        right: -249px;
                    }
                }
            }
        }
        &.right{
            float: right;
            li{
                &:first-child{
                    &::before{
                        top: 50%;
                        left: -320px;
                        width: 320px;
                        height: 150px;
                        border: 1px solid;
                        border-color: #fff transparent transparent #fff;
                    }
                    h3::before{
                        top: 161px;
                        left: -342px;
                    }
                    h3::after{
                        top: 165px;
                        left: -338px;
                    }
                }
                &:nth-child(2){
                    &::before{
                        top: 50%;
                        left: -270px;
                        width: 270px;
                        height: 150px;
                        border: 1px solid;
                        border-color: #fff transparent transparent #fff;
                    }
                    h3::before{
                        top: 180px;
                        left: -293px;
                    }
                    h3::after{
                        top: 184px;
                        left: -289px;
                    }
                }
                &:nth-child(3){
                    &::before{
                        top: 50%;
                        left: -90px;
                        width: 90px;
                        height: 50px;
                        border: 1px solid;
                        border-color: #fff transparent transparent #fff;
                    }
                    h3::before{
                        top: 81px;
                        left: -113px;
                    }
                    h3::after{
                        top: 85px;
                        left: -109px;
                    }
                }
                &:nth-child(4){
                    &::before{
                        top: 50%;
                        left: -175px;
                        width: 175px;
                        height: 1px;
                        border: 1px solid;
                        border-color: #fff transparent transparent transparent;
                    }
                    h3::before{
                        top: 38px;
                        left: -203px;
                    }
                    h3::after{
                        top: 42px;
                        left: -199px;
                    }
                }
                &:nth-child(5){
                    &::before{
                        top: 66%;
                        left: -380px;
                        width: 380px;
                        height: 45px;
                        border: 1px solid;
                        border-color: #fff transparent transparent #fff;
                    }
                    h3::before{
                        top: 80px;
                        left: -402px;
                    }
                    h3::after{
                        top: 84px;
                        left: -398px;
                    }
                }
            }
        }
        ul{
            list-style-type: none;
            li{
                background-color: #fff;
                padding: 15px 12px 5px 12px;
                border-radius: 10px;
                margin-bottom: 10px;
                font-family: $fontFamilyYantra;
                color: #000;
                position: relative;
                h3{
                    font-weight: 400;
                    font-size: 16px;
                    position: relative;
                    &::before{
                        position: absolute;
                        content: '';
                        height: 23px;
                        width: 23px;
                        border-radius: 50%;
                        background-color: rgba(255,255,255,.3);
                    }
                    &::after{
                        position: absolute;
                        content: '';
                        height: 15px;
                        width: 15px;
                        border-radius: 50%;
                        background-color: #fff;
                    }
                }
                p{
                    font-size: 15px;
                    font-weight: 100;
                    line-height: 22px;
                }
                &::before{
                    position: absolute;
                    content:'';
                }
            }
        }
    }
}
.section.page-7{
    h2{
        margin: 0 0 15px;
    }
    .subtitle{
        margin-bottom: 25px;
    }
    .contacts{
        display: flex;
        flex-wrap: wrap;
        padding: 0 8%;
        .contact{
            width: 20%;
            margin: 25px 0;
            text-align: left;
            h3{
                font-size: 16px;
                font-weight: 400;
                font-family: $fontFamilyYantra;
                line-height: 1.5;
            }
            p{
                font-size: 15px;
                font-weight: 100;
                font-family: $fontFamilyYantra;
                line-height: 1.5;
            }
            p.site{
                color: #1faa50;
            }
        }
    }
}
.section.page-8{
    .contacts{
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2{
            font-size: 24px;
            margin-bottom: 15px;
        }
        .subtitle{
            margin-bottom: 40px;
        }
        div{
            display: flex;
            width: 40%;
            margin: 0 auto;
            justify-content: space-around;
            align-items: center;
            font-family: $fontFamilyYantra;
            font-weight: 100;
            font-size: 18px;
            .email{
                color: #20ab50;
            }
        }
    }
    .signUp{
        height: 55%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #f3f3f3;
        h2{
            margin-bottom: 10px;
        }
        .subtitle{
            font-size: 22px;
            font-weight: 300;
        }
    }
    footer{
        position: absolute;
        background-color: #dcdcdc;
        width: 100%;
        height: 40px;
        text-align: left;
        color: #fff;
        line-height: 40px;
        bottom: 0;
        left: 0;
        font-size: 14px;
        font-family: $fontFamilyYantra;
        font-weight: 400;
        padding: 0 40px;
    }
}